.card_general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    padding: 60px 0;
    box-shadow: 0 0 68px 4px rgba(0,0,0,0.1);
    border-radius: 25px;
    margin: 0 auto;
}

.hr{
    width: 100%;
    height: 100%;
    margin: 0;
}

@media (max-width: 1000px){
    .card_general {
        margin: 0 40px;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        box-shadow: none;
    }
}

@media (max-width: 500px) {
    .card_general {
        grid-template-columns: 1fr;
    }
}