
.general {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    background-color: #151B2B;
    width: 100%;
    height: 120px;
    padding: 20px;
    z-index: 999;
}

.logo {
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 60px;
}


.menu a {
    color: #ffffff;
    transition: 1s;
}

.dropdown a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.dropdown a i{
    font-size: 12px;
}
.dropdown_content a {
    color: #151B2B;
    transition: 1s;
}

.menu a:hover {
    color: #58BDC9;
    border-bottom: solid 2px #58BDC9;
}

.boton a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 45px;
    background-color: #58BDC9;
    color: #151B2B;
    border: none;
    font-size: 17px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.boton a:hover {
    background-color: #151B2B;
    color: #58BDC9;
    border: 1px solid #58BDC9;
}

.botonMovil {
    display: none;
}

/* Dropdown Menu */

.dropdown .arrow1 {
    font-size: 12px;
}

.dropdown a {
    cursor: pointer;
}

.dropdown a:hover {
    color: #58BDC9;
}

.dropdown_content p:hover {
    color: #58BDC9 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 100px;
    max-height: 310px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown_content p {
    font-size: 18px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown_content p:hover {
    color: #58BDC9;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (max-width: 1022px) {
    .general {
        justify-content: space-between;
        padding: 20px 50px;
    }

    .boton {
        display: none;
    }

    .botonMovil {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: #58BDC9;
        color: #000000;
        border: none;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1;
        transition: 0.5s;
    }

    .menu {
        background-color: #000000;
        position: fixed;
        right: -100px;
        min-height: 100vh;
        height: 100%;
        width: 0;
        top: 120px;
        transition: 0.5s;

    }


    .menuActive {
        background-color: #000000;
        position: fixed;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 50%;
        top: 0px;
        transition: 0.5s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 136px 50px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }

    .menuActive {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 136px 50px;
        list-style: none;
        font-size: 17px;
        color: #ffffff;
    }
}
